HmisTemplate/Service References/SirusAdmisiGrd/AdmisionGRD1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AdmisionGRD" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://semarang/SirusServiceWcf/SIRUSWcf.AdmisionGRD.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://semarang/SirusServiceWcf/SIRUSWcf.AdmisionGRD.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://semarang/SirusServiceWcf/SIRUSWcf.AdmisionGRD.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="InterfaceAdmission_FolioAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:FolioAdd" />
  </wsdl:message>
  <wsdl:message name="InterfaceAdmission_FolioAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:FolioAddResponse" />
  </wsdl:message>
  <wsdl:message name="InterfaceAdmission_FolioUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:FolioUpdate" />
  </wsdl:message>
  <wsdl:message name="InterfaceAdmission_FolioUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:FolioUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="InterfaceAdmission_FolioDetailSelect_InputMessage">
    <wsdl:part name="parameters" element="tns:FolioDetailSelect" />
  </wsdl:message>
  <wsdl:message name="InterfaceAdmission_FolioDetailSelect_OutputMessage">
    <wsdl:part name="parameters" element="tns:FolioDetailSelectResponse" />
  </wsdl:message>
  <wsdl:message name="InterfaceAdmission_FolioUpdateDeposit_InputMessage">
    <wsdl:part name="parameters" element="tns:FolioUpdateDeposit" />
  </wsdl:message>
  <wsdl:message name="InterfaceAdmission_FolioUpdateDeposit_OutputMessage">
    <wsdl:part name="parameters" element="tns:FolioUpdateDepositResponse" />
  </wsdl:message>
  <wsdl:message name="InterfaceAdmission_LoadBillObat_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadBillObat" />
  </wsdl:message>
  <wsdl:message name="InterfaceAdmission_LoadBillObat_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadBillObatResponse" />
  </wsdl:message>
  <wsdl:portType name="InterfaceAdmission">
    <wsdl:operation name="FolioAdd">
      <wsdl:input wsaw:Action="http://tempuri.org/InterfaceAdmission/FolioAdd" message="tns:InterfaceAdmission_FolioAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/InterfaceAdmission/FolioAddResponse" message="tns:InterfaceAdmission_FolioAdd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FolioUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/InterfaceAdmission/FolioUpdate" message="tns:InterfaceAdmission_FolioUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/InterfaceAdmission/FolioUpdateResponse" message="tns:InterfaceAdmission_FolioUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FolioDetailSelect">
      <wsdl:input wsaw:Action="http://tempuri.org/InterfaceAdmission/FolioDetailSelect" message="tns:InterfaceAdmission_FolioDetailSelect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/InterfaceAdmission/FolioDetailSelectResponse" message="tns:InterfaceAdmission_FolioDetailSelect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FolioUpdateDeposit">
      <wsdl:input wsaw:Action="http://tempuri.org/InterfaceAdmission/FolioUpdateDeposit" message="tns:InterfaceAdmission_FolioUpdateDeposit_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/InterfaceAdmission/FolioUpdateDepositResponse" message="tns:InterfaceAdmission_FolioUpdateDeposit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoadBillObat">
      <wsdl:input wsaw:Action="http://tempuri.org/InterfaceAdmission/LoadBillObat" message="tns:InterfaceAdmission_LoadBillObat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/InterfaceAdmission/LoadBillObatResponse" message="tns:InterfaceAdmission_LoadBillObat_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_InterfaceAdmission" type="tns:InterfaceAdmission">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FolioAdd">
      <soap:operation soapAction="http://tempuri.org/InterfaceAdmission/FolioAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FolioUpdate">
      <soap:operation soapAction="http://tempuri.org/InterfaceAdmission/FolioUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FolioDetailSelect">
      <soap:operation soapAction="http://tempuri.org/InterfaceAdmission/FolioDetailSelect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FolioUpdateDeposit">
      <soap:operation soapAction="http://tempuri.org/InterfaceAdmission/FolioUpdateDeposit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadBillObat">
      <soap:operation soapAction="http://tempuri.org/InterfaceAdmission/LoadBillObat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdmisionGRD">
    <wsdl:port name="BasicHttpBinding_InterfaceAdmission" binding="tns:BasicHttpBinding_InterfaceAdmission">
      <soap:address location="http://semarang/SirusServiceWcf/SIRUSWcf.AdmisionGRD.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>